<header class="nav-bar-header">
    <nav class="nav-bar-nav">
        <ul class="nav-bar-list">
            <li class="nav-bar-list-item"><a href="/">Homepage</a></li>
            <li class="nav-bar-list-item"><a href="/add-book">Add book</a></li>
        </ul>
    </nav>
</header>