main {
    background-color: rgb(22, 22, 34);
}

div {
    border: solid white 1px;

}

body {
    background-color: rgb(75, 82, 143);
}

h1, p {
    color: rgb(179, 179, 19);
}

p {
    font-size: 25px;
}